<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TerraInsight</title>
</head>
<body>

    <!--  Start Header Section  -->
    <header class="header">
        <a class="logo">TerraInsight</a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul>
                <a href="#">Home</a>
                <a href="index.html">Predict</a>
                <a href="about.html">About us</a>
            </ul>
        </nav>

    </header>
    <!-- Ending Header Section  -->

    <!-- Starting Main Content Area -->
    <main>
        <div class="about-section">
            <div class="card" id="card1">
                <img class="profile-pic" src="/static/images/profile.png" alt="Profile Picture">
                <h2>Tanush Jadhav</h2>
            </div>

            <div class="card" id="card2">
                <img class="profile-pic" src="/static/images/profile.png" alt="Profile Picture">
                <h2>Tanishq</h2>
            </div>

            <div class="card" id="card3">
                <img class="profile-pic" src="/static/images/profile.png" alt="Profile Picture">
                <h2>Spoorthi Jagadish</h2>
            </div>
        </div>
    </main>
</body>
</html>